@using Dz4zad1.Models
@model Dz4zad1.Models.ModelAuthor
@{
    Layout = null;
    Author author = ViewBag.Author;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/Content/Style.css" />
    <title>Edit</title>
</head>
<body class="div_backgraund">
<div class="menu">
    @Html.RouteLink("Create Publisher", new { controller = "Home", action = "Index" })
    @Html.RouteLink("Table Publisher", new { controller = "Home", action = "Show_Table" })
    @Html.ActionLink("Create Author", "Index")
    @Html.ActionLink("Table Author", "Show_Table")
    @Html.RouteLink("Create Book", new { controller = "Book", action = "Index" })
    @Html.RouteLink("Table Book", new { controller = "Book", action = "Show_Table" })
</div>
<div class="position">
    <div class="div_img">
        <img src="~/Images/user.png"/>
    </div>
    <div class="forma">
        @using (Html.BeginForm())
        {
            <h3 class="h3">Edit Author</h3>
            @Html.ValidationSummary()
            if(author!=null)
            {
                <div class="section">
                    <p>Name:</p>
                    <div class="Text">@Html.TextBox("Name", author.Name)</div>
                </div>
                <div class="section">
                    <p>DateOfBirth:</p>
                    <div class="Text">@Html.TextBox("DateOfBirth", author.DateOfBirth.ToString("MM/dd/yyyy"))</div>
                </div>
                <div class="section">
                    <p>DateOfDeath:</p>
                    @if (author.DateOfDeath.ToString("MM/dd/yyyy") != "01.01.0001")
                    {
                        <div class="Text">@Html.TextBox("DateOfDeath", author.DateOfDeath.ToString("MM/dd/yyyy"))</div>
                    }
                    else
                    {
                        <div class="Text">@Html.TextBoxFor(x => x.DateOfDeath)</div>
                    }
                </div>
                <input class="buttom" type="submit" name="@author.Id" value="Edit"/>
            }

        }
    </div>
</div>
</body>
</html>
