@using Dz4zad1.Models
@using Dz4zad1.Helpers
@{
    Layout = null;
    IEnumerable<Author> author = ViewBag.Author;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/Content/Style.css" />
    <title>Show_Table</title>
</head>
<body class="div_backgraund">
<div class="menu">
    @Html.RouteLink("Create Publisher", new { controller = "Home", action = "Index" })
    @Html.RouteLink("Table Publisher", new { controller = "Home", action = "Show_Table" })
    @Html.ActionLink("Create Author", "Index")
    @Html.ActionLink("Table Author", "Show_Table")
    @Html.RouteLink("Create Book", new { controller = "Book", action = "Index" })
    @Html.RouteLink("Table Book", new { controller = "Book", action = "Show_Table" })
</div>
<div class="div_table">
    <h2 class="h3">Table Author</h2>
    @Html.AuthorsTable(author.ToList())
</div>
</body>
</html>
